@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body {
  background-color: #f4f4f3; /* between stone-100 and stone-200 — slightly darker, warmer */
  color: #0f172a;
}
